.container {
  max-width: 50rem;
  padding: 2rem;
}

button {
  margin-bottom: 0;
}

.search-button {
  margin-right: 1rem;
}

.container .header .header-logo-title {
  display: flex;
  margin-bottom: 0.5rem;
}

.container .header .header-logo-title .header-logo {
  width: 3.25rem;
  margin-right: 1.25rem;
}

.container .header .header-logo-title .header-title {
  margin: 0;
}

.container .news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.4rem;
  padding: 1.6rem;
  margin-bottom: 2rem;
}

.card h4 {
  margin: 0;
}

.card hr {
  margin: 1.2rem 0;
}

.card .card-header .image-container {
  position: relative;
  margin-bottom: 1.6rem;
}

.card .card-header .image-container img {
  border-radius: 0.4rem;
}

.card .card-header .image-container .loader {
  position: absolute;
}

.card .card-header .image-container .loader img {
  height: 240px;
  width: 100%;
}

.card .card-header .image-container .loader.hidden {
  display: none;
}

.card .card-body .card-body-footer {
  display: flex;
  justify-content: space-between;
}
